/* === JUDUL === */
.title {
  margin-bottom: 10px;
}

/* === TEKS DESKRIPSI === */
.subText {
  font-size: 18;
  margin-top: 25px;
  margin-bottom: 5px;
}

.descText {
  font-size: 14.5px;
  opacity: 0.8;
  max-width: 700px;
  color: #000;
}

/* === ILUSTRASI TENGAH === */
.imageWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  object-fit: contain;
}

/* === BUTTON KE HALAMAN TRANSAKSI === */
.centerButton {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.goTransaksiBtn {
  background: #569097; /* soft teal */
  border: none;
  padding: 12px 22px;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.goTransaksiBtn:hover {
  background: #4b7a80; /* sedikit lebih gelap */
  transform: scale(1.03);
}
