.title {
  margin-bottom: 10px;
}

.descText {
  font-size: 14.5px;
  opacity: 0.8;
  max-width: 700px;
  color: #000;
}

.transferBox {
  width: 320px;
  background: #f8fafc;
  padding: 5px 25px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.07);
}

.infoRek {
  display: flex;
  flex-direction: column;
}

.bankName {
  font-size: 1rem;
  font-weight: bold;
  color: #205781;
}

.noRek {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.namaRek {
  opacity: 0.7;
  font-size: 0.85rem;
}

.centerButton {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.goTransaksiBtn {
  background: #569097;
  border: none;
  padding: 12px 22px;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.goTransaksiBtn:hover {
  background: #4b7a80;
  transform: scale(1.03);
}
