.title {
  font-size: 2rem;
  font-weight: bold;
  color: #205781;
  margin-bottom: 1.5rem;
}

.tableWrapper {
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.pegawaiTable {
  width: 100%;
  border-collapse: collapse;
}

.pegawaiTable th {
  padding: 14px 18px;
  font-weight: 600;
  color: #3a3a3a;
  text-align: left;
  font-size: 14px;
  border-bottom: 2px solid #ebe9e9;
}

.pegawaiTable tbody tr:hover {
  background-color: #e7e7e7;
}

.pegawaiTable td {
  padding: 16px 18px;
  font-size: 14px;
  color: #333;
  vertical-align: middle;
}

.pegawaiTable tr td:last-child {
  width: 50px;
  text-align: center;
}

.rowClickable {
  cursor: pointer;
}

.badge {
  font-weight: bold;
  color: #2ea56f;
}

.sendIcon {
  font-size: 18px;
  color: #3c617a;
  cursor: pointer;
  transition: 0.2s;
}

.sendIcon:hover {
  color: #1d4e6a;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.editBtn {
  background: #226d74;
  color: white;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}

.addBtn {
  background: #1f4d78;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 999;
}

/* Popup kecil (WA / SMS) */
.popup {
  background: white;
  padding: 5px 28px 40px;
  border-radius: 14px;
  width: 330px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.2s ease-out;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.popupBody {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.waBtn,
.smsBtn {
  background: #f1f1f1;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
}

.iconImg {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.waBtn:hover,
.smsBtn:hover {
  background: #ddd;
}

/* Popup DETAIL */
.detailPopup {
  background: white;
  padding: 25px 30px;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.2s ease-out;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.detailBody p {
  margin: 6px 0;
  font-size: 15px;
  color: #333;
}

.profileImg {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto 15px auto;
  object-fit: cover;
  border-radius: 12px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
