.title {
  margin-bottom: 10px;
}

.descText {
  font-size: 14.5px;
  opacity: 0.8;
  max-width: 700px;
  color: #000;
}

.imageWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  object-fit: contain;
}

.centerButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.goTransaksiBtn {
  background: #569097;
  border: none;
  padding: 12px 22px;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.goTransaksiBtn:hover {
  background: #4b7a80;
  transform: scale(1.03);
}
