.pageContainer {
    width: 100%;
}

.header {
    font-size: 2rem;

    font-weight: bold;
    color: #205781;

    margin-bottom: 1.5rem;
}


.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.filterPeriod {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.label {
    font-size: 0.75rem;

    color: #6b7280;
    display: block;
    margin-bottom: 0.25rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;

    color: #333333;

    cursor: pointer;
}

.buttonPrimary {
    composes: button;
    background-color: #ffffff;
    color: #333333;

    font-weight: 600;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.buttonPrimary:hover {
    background-color: #f9fafb;
}




.dashboardGrid {
    display: grid;

    grid-template-columns: 2fr 3fr;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
}




.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.summaryCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.rightColumn {}

@media (max-width: 1024px) {
    .dashboardGrid {
        grid-template-columns: 1fr;
    }
}


.topProductCard {
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;
    border-bottom: 5px solid #4F959D;

    border-radius: 8px 8px 0 0;
}

.cardHeader {
    font-weight: bold;
    color: #333333;

    font-size: 1.125rem;

    margin: 0 0 1rem 0;
}

.productInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productImage {
    border-radius: 12px;
    object-fit: cover;
}

.productName {
    font-weight: 700;
    color: #111111;

    margin: 0 0 0.25rem 0;
    font-size: 1.5rem;

}

.productSales {
    font-size: 1rem;

    color: #6b7280;
    margin: 0;
}


.tableContainer {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #f0f0f0;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table th,
.table td {
    padding: 1rem 1.5rem;
}

.table th {
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b7280;
}

.table td {
    border-bottom: 1px solid #f0f0f0;
    color: #333333;

}

.table tbody tr:last-child td {
    border-bottom: none;
}